*{
    margin: 0%;
}
body{
    background-image: url(ALL.jpg);
    background-size: cover;
    background-position: center;
    height: 25cm;
}
nav{
    justify-content: space-between;
    display: flex;
    padding: 2%;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
ul a{
    background-color: rgb(233, 174, 12);
    text-decoration: none;
    color: black;
    border: none;
    padding: .2cm;
    margin: .1cm;
}
.menu-toggle {
    display: none;
    color: #fff;
    cursor: pointer;
}
ul a:hover{
    background-color: rgb(241, 245, 232);
    color: black;
    transition-duration: 900ms;
}
@media screen and (max-width: 700px){
    nav {
        flex-direction: column;
    }
    .nav-active {
        display: flex;
        text-align: center;
    }
    .nav-active a{
        margin-bottom: .1cm;
    }
    .menu-toggle {
        display: block;
    }
    nav ul {
        display: none;
        flex-direction: column;
        margin-top: 10px;
    }
    nav ul li {
        margin-bottom: 5px;
    }
    .list{
        display: grid;
    }

      
}
